@font-face {
    font-family: 'MyriadPro';
    src: url('../Fuentes/MyriadPro-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AeroMaticsLight';
    src: url('../Fuentes/AeroMaticsLight.ttf');
    font-weight: normal;
    font-style: normal;
}
body{
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  font-family: AeroMaticsLight;
  height:100%;
  margin:0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* background: url('../images/layout/Fondos/Fondos\ Azul-01.png') no-repeat center center fixed; */
  /* filter:brightness(0.6); */
  background: url('../images/banderas.jpg') no-repeat center center fixed;
  background-size: cover;
  
}
#principal{
    background-color: rgba(12, 15, 55, 0.8);
    /* z-index:-1; */
}
.bloques{
    /* background-color:rgba(54, 70, 136, 0.9); */
    font-size: 2.4rem;
    text-align: center;   
}
.bloque_opcion{
    background-color: rgba(34, 41, 67, 0.6);
    font-size: 2.2rem;
    text-align: center;
    padding: 5px 0 5px 0;
    border-bottom: solid 1px #ACABB1;
}
.bloque_opcion img{
    width: 80%;
}
.opcion{
    font-size: 1.6rem;
    text-align: center;
    color: #ACABB1;
}

.texto{
    /* color: #EF8B1E; */
    color: white;
}
.encendido{
    font-size: .5em;
    /* font-weight: bold; */
    color: #EF8B1E;
}
.subtitulo{
    font-size: 2.2rem;
    color: #EF8B1E;
}

.titulo{
    background-color: rgba(34, 41, 67, 0.6);
    font-size: 2.5rem;
    /* color: #ffc107; */
    color: white;
}
.table{
    font-size: .7em;
}
.division{
    border-right: solid 1px #EF8B1E;
}
.division_top{
    border-top: solid 1px #EF8B1E;
}
.accion{
    font-size: 2.1rem;
    padding: 15px 0 15px 0;
    color: #EF8B1E;
}
.acceso_cerrado{
    font-size: 1.7rem;
    /* color: black; */

}
.acceso_abierto{
    font-size: 1.7rem;
    color: #EF8B1E;
}
.scroll{
    height: 650px;
    overflow: auto;
}

/* Dimmer Slider */
input[type=range] {
 /* -webkit-appearance: none;  Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent; 
  border-color: transparent;
  color: transparent;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}
/* End Dinmer Silder */