@font-face {
    font-family: 'MyriadPro';
    src: url('../Fuentes/MyriadPro-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AeroMaticsLight';
    src: url('../Fuentes/AeroMaticsLight.ttf');
    font-weight: normal;
    font-style: normal;
}
html, body{
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  font-family: AeroMaticsLight;
  height:100%;
  margin:0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: url('../images/layout/Fondos/Fondos\ Azul-01.png') no-repeat center center fixed;
    background-size: cover;
}

.bloques{
    /* background-color:rgba(54, 70, 136, 0.9); */
    font-size: 2.4rem;
    text-align: center;   
}
.bloque_opcion{
    background-color: rgba(34, 41, 67, 0.6);
    font-size: 2.4rem;
    text-align: center;
    padding: 5px 0 5px 0;
    border-bottom: solid 1px #ACABB1;
}
.bloque_opcion img{
    width: 80%;
}
.opcion{
    font-size: 1.6rem;
    text-align: center;
    color: #ACABB1;
}

.texto{
    /* color: #EF8B1E; */
    color: white;
}
.encendido{
    font-size: .5em;
    /* font-weight: bold; */
    color: #EF8B1E;
}
.subtitulo{
    font-size: 2.2rem;
    color: #EF8B1E;
}

.titulo{
    background-color: rgba(34, 41, 67, 0.6);
    font-size: 2.5rem;
    /* color: #ffc107; */
    color: white;
}
.table{
    font-size: .7em;
}
.division{
    border-right: solid 1px #EF8B1E;
}
.accion{
    font-size: 2.2rem;
    padding: 20px 0 20px 0;
    color: #EF8B1E;
}
.acceso_cerrado{
    font-size: 1.7rem;
    /* color: black; */

}
.acceso_abierto{
    font-size: 1.7rem;
    color: #EF8B1E;
}